<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCO3RL0jN6ASKw0BJ24GgtrGNz-1wqv9tg</string>
	<key>GCM_SENDER_ID</key>
	<string>1066151489638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ezq</string>
	<key>PROJECT_ID</key>
	<string>ezq-dev-cubiquitous</string>
	<key>STORAGE_BUCKET</key>
	<string>ezq-dev-cubiquitous.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066151489638:ios:e60fbb1a804d4d258c7da7</string>
</dict>
</plist>
